.superInput {
    margin: 10px;
    background-color: #003300;
    color: #99ff99;
}

.input:focus {
    outline: none;
    border: #99ff99 solid 2px;
}

.errorInput {
    margin: 10px;

    border: 3px solid #dd3355;
    background: #003300;
    color: #99ff99;

}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}