.button {
    background-color: #DDEEFF;

}


.disabled {
    background-color: #ddeeff;
}

.secondary {
    background-color: deeppink;
}

.default {
    background-color: burlywood;
}

.red {
    background-color: crimson;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
