.button {
    background-color: #DDEEFF;

}


.disabled {
}

.secondary {
}

.default {
    background-color: mediumaquamarine;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
